<!--bgImageData = []; all images against country
bgImageUrl : string; selected country image-->
<ion-grid>
    <ion-row>
        <ion-col class="hidden-xl-up">
<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
        <ion-title></ion-title>
        <div class="text-right icon-add-locations">
            <i class="material-icons add" (click)="addPage()">add</i>
        </div>

    </ion-navbar>
</ion-header>
        </ion-col>
    </ion-row>
</ion-grid>

<ion-content>
    <div class="mobile-app-view">
            <add-banner></add-banner>
        </div>
    <img class="img-bg-change" src="{{bgImageUrl}}" onError="this.src='assets/default-bg.jpg';" />

    <ion-slides (ionSlideDidChange)="slideChanged()" (options)="mySlideOptions" class="mobile-app-view">
        
        <ion-slide *ngFor="let location of addedLocations">

            <div class="container bg-image main-app animated fadeIn" style="min-height:auto; overflow-y: scroll">

                <div *ngIf="serviceResponse.weather" class="row bg-background" [ngStyle]="{ 'background-color': color }" style="min-height:100%; height:auto; overflow-y: scroll;">

                    <div class="col-12 v-p-top">
                        <div class="col-12 text-center">
                            <h5 class="city-weather animated bounceIn" *ngIf="serviceResponse">{{serviceResponse.name}}</h5>
                            <p class="temp-value animated bounceIn" *ngIf="serviceResponse.main">{{(serviceResponse.main.temp).toFixed(0)}}<sup>o</sup><sub class="tempDegree">{{unitWind?'F':'C'}}</sub></p>
                        </div>
                        <div class="col-12">
                            <div class="row">
                                <div class="col-6">
                                    <p class="weatherLabel text-center animated bounceIn" *ngIf="serviceResponse.weather">{{serviceResponse.weather[0].description}}</p>
                                    <img *ngIf="serviceResponse.weather" src="assets/{{serviceResponse.weather[0].main}}.png" class="d-block mx-auto img-fluid weatherIconImage animated bounceIn"
                                        onError="this.src='assets/Atmosphere.png';" />
                                </div>
                                <div class="col-6 weatherDetail noPadding">
                                    <span class="float-left firstText animated bounceIn" *ngIf="serviceResponse.main">{{(serviceResponse.main.temp_min).toFixed(0)}}<i class="material-icons call_received">call_received</i></span>
                                    <span class="secondText animated bounceIn" *ngIf="serviceResponse.main">{{(serviceResponse.main.temp_max).toFixed(0)}}<i class="material-icons call_receivedup">call_received</i></span>

                                </div>
                                <div class="col-6 weatherContent animated bounceIn">
                                    <p>Humidity: <span *ngIf="serviceResponse.main">{{serviceResponse.main.humidity}}%</span></p>
                                    <p>Wind: <span *ngIf="serviceResponse.wind">{{serviceResponse.wind.speed}}{{unitWind?' mph':' m/s'}}</span></p>
                                </div>

                                <div class="col-6 weatherContent noPadding animated bounceIn">
                                    <p>Pressure: <span *ngIf="serviceResponse.main">{{serviceResponse.main.pressure}} hPa</span></p>
                                    <p>Cloud Cover: <span *ngIf="serviceResponse.clouds">{{serviceResponse.clouds.all}}%</span></p>
                                </div>
                                <div class="col-12" *ngIf="isChartDataAvailable">
                                    <hr/>
                                    <div style="display: block;">
                                        <p>TEMPERATURE</p>
                                        <canvas baseChart id="myChart" width="350" height="5">
                                        </canvas>
                                        <div style="display: block;">
                                            <canvas baseChart [datasets]="lineChartData" width="350" height="300" [labels]="lineChartLabels" [options]="lineChartOptions"
                                                [colors]="lineChartColors" [legend]="lineChartLegend" [chartType]="lineChartType">
                                            </canvas>
                                            <div>
                                                <div>
                                                </div>
                                            </div>
                                            <div class="col-md-6" style="margin-bottom: 10px">
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="col-12 windClass">
                                    <p class="text-center">FORECAST</p>
                                </div>

                                <div class="col-12 windClass" *ngIf="isPredictDataAvailable">
                                    <div class="row">
                                        <div class="col-2">
                                            <p>{{predictionDataFordisplayArray[1].day}}</p>
                                            <img src={{predictionDataFordisplayArray[1].icon}} width="35" />
                                            <p>{{(predictionDataFordisplayArray[1].min).toFixed(0)}}<span>~</span>{{(predictionDataFordisplayArray[1].max).toFixed(0)}}</p>
                                        </div>
                                        <div class="col-2">
                                            <p>{{predictionDataFordisplayArray[2].day}}</p>
                                            <img src={{predictionDataFordisplayArray[2].icon}} width="35" />
                                            <p>{{(predictionDataFordisplayArray[2].min).toFixed(0)}}<span>~</span>{{(predictionDataFordisplayArray[2].max).toFixed(0)}}</p>
                                        </div>
                                        <div class="col-2">
                                            <p>{{predictionDataFordisplayArray[3].day}}</p>
                                            <img src={{predictionDataFordisplayArray[3].icon}} width="35" />
                                            <p>{{(predictionDataFordisplayArray[3].min).toFixed(0)}}<span>~</span>{{(predictionDataFordisplayArray[3].max).toFixed(0)}}</p>
                                        </div>
                                        <div class="col-2">
                                            <p>{{predictionDataFordisplayArray[4].day}}</p>
                                            <img src={{predictionDataFordisplayArray[4].icon}} width="35" />
                                            <p>{{(predictionDataFordisplayArray[4].min).toFixed(0)}}<span>~</span>{{(predictionDataFordisplayArray[4].max).toFixed(0)}}</p>
                                        </div>
                                        <div class="col-2">
                                            <p>{{predictionDataFordisplayArray[5].day}}</p>
                                            <img src={{predictionDataFordisplayArray[5].icon}} width="35" />
                                            <p>{{(predictionDataFordisplayArray[5].min).toFixed(0)}}<span>~</span>{{(predictionDataFordisplayArray[5].max).toFixed(0)}}</p>
                                        </div>
                                        <div class="col-2">
                                            <p>{{predictionDataFordisplayArray[6].day}}</p>
                                            <img src={{predictionDataFordisplayArray[6].icon}} width="35" />
                                            <p>{{(predictionDataFordisplayArray[6].min).toFixed(0)}}<span>~</span>{{(predictionDataFordisplayArray[6].max).toFixed(0)}}</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12 windClass">
                                    <p class="text-center">WIND</p>
                                    <div class="row">


                                        <div class="col-2" *ngFor='let temp of tempWindArray; let i = index'>
                                            <p class="windSpeed">{{tempWindArray[i]}}{{unitWind?' mph':' m/s'}}</p>
                                            <p><i class="material-icons windIcon1-{{i}}">call_received</i></p>
                                            <p>{{tempTimeArray[i]}}</p>
                                        </div>

                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ion-slide>
    </ion-slides>
    <div class="container-fluid desktop desktop-app-view bg-image main-app animated fadeIn hidden-lg-down">
        <div class="Banner">
            <add-banner></add-banner>
        </div>
        <div *ngIf="serviceResponse.weather" class="row bg-background {{serviceResponse.weather[0].main}} v-p-large">
            <div class="col-lg-4">
                <div class="row text-center">
                    <div class="col-6 v-p-normal">
                        <label class="switch">
                                <input type="checkbox">
                                <div class="slider round"><span class="tempSwitch float-left">C</span><span class="tempSwitch2 float-right">F</span>
                                </div>
                            </label>
                    </div>
                    <div class="col-6 v-p-normal text-left">
                        <label class="switch">
                                <input type="checkbox">
                                <div class="slider round" id="wind"><span class="tempSwitch float-left">K</span><span class="tempSwitch2 float-right">M</span></div>
                            </label>
                    </div>
                    <div class="col-6 text-center">
                        <span>Unit</span>
                    </div>
                    <div class="col-6 text-left">
                        <span>Unit</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 text-center">
                <div class="row cityLocation v-p-normal">
                    <div class="col-3">
                        <div class="navigator iconTower">
                            <i class="icon xl-loc nav"></i><br/>
                        </div>
                        <p>{{serviceResponse.name}}</p>
                    </div>
                    <div class="col-3">
                        <div class="navigator iconTower">
                            <i class="icon-twinTower nav" (click)="loadData('Kuala Lumpur')"></i>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="navigator iconTower test">
                            <i class="icon-singapore_place nav " (click)="loadData('Singapore')"></i>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="navigator iconTower">
                            <i class="icon-londan nav" (click)="loadData('New York')"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-3 text-right">
                <p class="v-p-large"><i class="material-icons IconAdd" (click)="addPage()">add</i></p>
            </div>
            <div class="row pull-up">
                <div class="col-12 text-center">
                    <h3 class="city-weatherDesktop animated bounceIn" *ngIf="serviceResponse">{{serviceResponse.name}}</h3>
                    <p class="temp-value animated bounceIn" *ngIf="serviceResponse.main">{{(serviceResponse.main.temp).toFixed(0)}}<sup>o</sup><sub class="tempDegree">{{unitWind?'F':'C'}}</sub></p>
                </div>
                <div class="col-12">
                    <div class="row">
                        <div class="col-6">
                            <img *ngIf="serviceResponse.weather" src="assets/{{serviceResponse.weather[0].main}}.png" class="d-block mx-auto img-fluid weatherIconImage animated bounceIn"
                                onError="this.src='assets/Atmosphere.png';" />
                        </div>
                        <div class="col-6 weatherDetail noPadding">
                            <span class="float-left firstText animated bounceIn" *ngIf="serviceResponse.main">{{(serviceResponse.main.temp_min).toFixed(0)}}<i class="material-icons call_received">call_received</i></span>
                            <span class="secondText animated bounceIn" *ngIf="serviceResponse.main">{{(serviceResponse.main.temp_max).toFixed(0)}}<i class="material-icons call_receivedup">call_received</i></span>
                            <div class="col-12">
                                <p class="float-left weatherLabel text-center animated bounceIn" *ngIf="serviceResponse.weather">{{serviceResponse.weather[0].description}}</p>
                            </div>
                        </div>
                        <div class="container">
                            <div class="row weatherDetails">
                                <div class="col-3 animated bounceIn">
                                    <p>Humidity: <span *ngIf="serviceResponse.main">{{serviceResponse.main.humidity}}%</span></p>
                                </div>
                                <div class="col-3 animated bounceIn">
                                    <p>Wind: <span *ngIf="serviceResponse.wind">{{serviceResponse.wind.speed}}{{unitWind?' mph':' m/s'}}</span></p>
                                </div>
                                <div class="col-3 animated bounceIn">
                                    <p>Pressure: <span *ngIf="serviceResponse.main">{{serviceResponse.main.pressure}} hPa</span></p>
                                </div>
                                <div class="col-3 animated bounceIn">
                                    <p>Cloud Cover: <span *ngIf="serviceResponse.clouds">{{serviceResponse.clouds.all}}%</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-4" *ngIf="isChartDataAvailable">
                            <div>
                                <p class="text-center">TEMPERATURE</p>
                                <canvas baseChart id="myChart" width="350" height="5">
                                </canvas>
                                <div>
                                    <canvas id="DesktopChart" baseChart [datasets]="lineChartData" width="350" height="200" [labels]="lineChartLabels" [options]="lineChartOptions"
                                        [colors]="lineChartColors" [legend]="lineChartLegend" [chartType]="lineChartType">
                                    </canvas>
                                    <div>
                                        <div>
                                        </div>
                                    </div>
                                    <div class="col-md-6" style="margin-bottom: 10px">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <p class="text-center">FORECAST</p>
                            <div class="row">
                                <div class="col-12 windClass" *ngIf="isPredictDataAvailable">
                                    <div class="row v-p-top">
                                        <div class="col-2">
                                            <p>Fri</p>
                                            <img src={{predictionDataFordisplayArray[0].icon}} width="35" />
                                            <p>{{(predictionDataFordisplayArray[0].min).toFixed(0)}}<span>~</span>{{(predictionDataFordisplayArray[0].max).toFixed(0)}}</p>
                                        </div>
                                        <div class="col-2">
                                            <p>Sat</p>
                                            <img src={{predictionDataFordisplayArray[1].icon}} width="35" />
                                            <p>{{(predictionDataFordisplayArray[1].min).toFixed(0)}}<span>~</span>{{(predictionDataFordisplayArray[1].max).toFixed(0)}}</p>
                                        </div>
                                        <div class="col-2">
                                            <p>Sun</p>
                                            <img src={{predictionDataFordisplayArray[2].icon}} width="35" />
                                            <p>{{(predictionDataFordisplayArray[2].min).toFixed(0)}}<span>~</span>{{(predictionDataFordisplayArray[2].max).toFixed(0)}}</p>
                                        </div>
                                        <div class="col-2">
                                            <p>Mon</p>
                                            <img src={{predictionDataFordisplayArray[3].icon}} width="35" />
                                            <p>{{(predictionDataFordisplayArray[3].min).toFixed(0)}}<span>~</span>{{(predictionDataFordisplayArray[3].max).toFixed(0)}}</p>
                                        </div>
                                        <div class="col-2">
                                            <p>Tue</p>
                                            <img src={{predictionDataFordisplayArray[4].icon}} width="35" />
                                            <p>{{(predictionDataFordisplayArray[4].min).toFixed(0)}}<span>~</span>{{(predictionDataFordisplayArray[4].max).toFixed(0)}}</p>
                                        </div>
                                        <div class="col-2">
                                            <p>wed</p>
                                            <img src={{predictionDataFordisplayArray[5].icon}} width="35" />
                                            <p>{{(predictionDataFordisplayArray[5].min).toFixed(0)}}<span>~</span>{{(predictionDataFordisplayArray[5].max).toFixed(0)}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-4 windClass">
                            <p class="text-center">WIND</p>
                            <div class="row">
                                <div class="col-2" *ngFor='let temp of tempWindArray; let i = index'>
                                    <p class="windSpeed">{{tempWindArray[i]}}{{unitWind?' mph':' m/s'}}</p>
                                    <p><i class="material-icons windIcon1-{{i}}">call_received</i></p>
                                    <p>{{tempTimeArray[i]}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ion-content>