@font-face {
	font-family: 'MuseoSansRounded-light';
	font-style: normal;
	font-weight: 300;
	src: url(fonts/MuseoSansRounded-300.otf);
}
@font-face {
	font-family: 'MuseoSansRounded-Heavy';
	font-style: normal;
	font-weight: 500;
	src: url(fonts/MuseoSansRounded-500.otf);
}
@font-face {
	font-family: 'joey-Light';
	font-style: normal;
	font-weight: 300;
	src: url(fonts/FS_joey-Light.otf);
}
@font-face {
	font-family: 'joey-medium';
	font-style: normal;
	font-weight: 500;
	src: url(fonts/FS_joey-Medium.otf);
}
@font-face {
				font-family: 'Material Icons';
				font-style: normal;
				font-weight: 400;
				src: url(fonts/MaterialIcons-Regular.eot); /* For IE6-8 */
				src: local('Material Icons'),
				    local('MaterialIcons-Regular'),
				    url(fonts/MaterialIcons-Regular.woff2) format('woff2'),
				    url(fonts/MaterialIcons-Regular.woff) format('woff'),
				    url(fonts/MaterialIcons-Regular.ttf) format('truetype');
				}
				.material-icons {
					  font-family: 'Material Icons';
					  font-weight: normal;
					  font-style: normal;
					  font-size: 24px;  /* Preferred icon size */
					  display: inline-block;
					  line-height: 1;
					  text-transform: none;
					  letter-spacing: normal;
					  word-wrap: normal;
					  white-space: nowrap;
					  direction: ltr;

					  /* Support for all WebKit browsers. */
					  -webkit-font-smoothing: antialiased;
					  /* Support for Safari and Chrome. */
					  text-rendering: optimizeLegibility;

					  /* Support for Firefox. */
					  -moz-osx-font-smoothing: grayscale;

					  /* Support for IE. */
					  font-feature-settings: 'liga';
					}
@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?mkshse');
  src:  url('fonts/icomoon.eot?mkshse#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?mkshse') format('truetype'),
    url('fonts/icomoon.woff?mkshse') format('woff'),
    url('fonts/icomoon.svg?mkshse#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icon-christ:before {
  font-family: 'icomoon';
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
	content: "\e900";
}
.icon-londan:before {
  font-family: 'icomoon';
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
	content: "\e901";
}
.icon-singapore_place:before {
  font-family: 'icomoon';
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
	content: "\e902";
}
.icon-twinTower:before {
  font-family: 'icomoon';
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
	content: "\e903";
}
.icon-singapore_place2:before {
  content: "\e904";
}

					