body {
    background-color: #380b54;
    opacity: 0.8;
}

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(fonts/MaterialIcons-Regular.eot);
    /* For IE6-8 */
    src: local('Material Icons'), local('MaterialIcons-Regular'), url(fonts/MaterialIcons-Regular.woff2) format('woff2'), url(fonts/MaterialIcons-Regular.woff) format('woff'), url(fonts/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
    /* Support for IE. */
    font-feature-settings: 'liga';
}

.bg-image {
    font-family: 'Roboto', sans-serif;
    background-repeat: no-repeat;
    color: white;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    min-height: 71em;
    -o-object-fit: cover;
    object-fit: cover;
    background-color: rgba(0, 0, 0, 0.2);
}

.button-effect,
.bar-button-default-md {
    opacity: 1!important;
    color: #fff!important;
}

input[type="button"],
button,
button::after,
bar-button,
.bar-button:after,
button:focus {
    border: 0;
    outline: 0;
}

input[type="button"]::-moz-focus-inner,
button::-moz-focus-inner {
    border: 0;
    outline: 0;
}

.img-bg-change {
    min-height: 100%;
    min-width: 100%;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -9999;
}

.bg-add-locations {
    background-image: url(../../assets/bg-add-locations.jpg);
    background-size: cover;
}

.icon-add-locations {
    padding-right: 20px;
    padding-top: 14px;
}

.main-app .bg-background .v-p-top {
    margin-top: 2%;
}

.main-app .bg-background .menu {
    color: white;
}

.main-app .bg-background .navigation {
    font-size: 12px;
    transform: rotate(25deg);
    color: rgba(255, 255, 255, 0.9);
}

.main-app .bg-background .fiber_manual_record {
    font-size: 10px;
    color: rgba(255, 255, 255, 0.63);
}

.main-app .bg-background .fiber_manual_record1 {
    font-size: 10px;
    color: white;
}

.main-app .bg-background .add {
    color: white;
}

.main-app .bg-background .city-weather {
    color: white;
    margin-top: 15%;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 0;
    font-size: 23px;
}

.main-app .temp-value {
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 0px;
    color: #fff;
    position: relative;
}

.main-app .temp-value sup {
    font-size: 20px;
    position: absolute;
    top: 28%;
}

.main-app .tempDegree {
    bottom: 0em;
    font-size: 32px;
}

.main-app .weatherDetail .firstText {
    font-size: 35px;
    color: white;
    font-family: 'Roboto', sans-serif;
}

.main-app .noPadding {
    padding: 0;
}

.main-app .weatherIconImage {
    opacity: 1;
    margin-top: 0;
    max-width: 74%;
}

.main-app .weatherDetail .firstText .call_received {
    transform: rotate(-43deg);
}

.main-app .weatherDetail .secondText {
    font-size: 35px;
    color: white;
    font-family: 'Roboto', sans-serif;
}

.main-app .weatherDetail .secondText .call_receivedup {
    transform: rotate(135deg);
}

.main-app .weatherLabel {
    margin-bottom: 0;
    margin-top: -10px;
    color: white;
    font-family: 'Roboto', sans-serif;
    clear: both;
    text-transform: capitalize;
}

.main-app .weatherContent {
    margin-top: 7%;
}

.main-app .weatherContent p {
    margin-bottom: 1px;
}

.windClass p .windIcon {
    transform: rotate(-30deg);
}

.windClass p .windIcon2 {
    transform: rotate(150deg);
}

.windClass p .windIcon3 {
    transform: rotate(220deg);
}

.windClass p .windIcon4 {
    transform: rotate(260deg);
}

.windClass p .windIcon4 {
    transform: rotate(180deg);
}

page-home .fixed-content,
page-home .scroll-content {
    margin-top: -44px!important;
}

ion-slides {
    padding-top: 44px;
}

.material-icons {
    color: #fff;
}

.toolbar-background-ios,
.toolbar-background-md {
    opacity: 0;
}

.bar-button-default-ios,
.bar-button-default.bar-button-ios-default,
.bar-button-clear-ios-default {
    color: #fff!important;
    background-color: transparent;
}

.ion-slides {
    overflow-y: hidden;
}

.screen-dots,
.screen-dots li {
    list-style: none;
}

.screen-dots {
    display: table;
    margin: 0 auto;
    text-align: center;
}

.screen-dots li {
    float: left;
    display: block;
    margin-right: 4px;
}

.container {
    padding: 0;
}

.clear {
    clear: both;
}

.swiper-slide {
    font-size: 1.28rem;
}

.windIcon1-0 {
    transform: rotate(-130deg);
}

.windIcon1-1 {
    transform: rotate(30deg);
}

.windIcon1-2 {
    transform: rotate(-148deg);
}

.windIcon1-3 {
    transform: rotate(-200deg);
}

.windIcon1-4 {
    transform: rotate(-30deg);
}

.windIcon1-5 {
    transform: rotate(210deg);
}


/*------------------------*/

.toolbar-title-md {
    color: #fff;
    text-align: center;
}

.label-ios, .label-md {
    padding: 11px 8px!important;
    margin: 4px!important;
}

.item-ios, .item-md {
    padding: 2px 8px!important;
}

page-saved-locations .item-ios,
page-saved-locations .label-ios,
page-saved-locations .label-md {
    padding: 0!important;
    margin: 0!important;
}

.toolbar-title-ios {
    font-size: 2rem;
    color: #fff;
    padding-top: 4px;
    text-transform: capitalize;
}

.item-ios.item-block .item-inner,
.item-ios,
.item-md,
.list-md .item-block .item-inner {
    border-bottom: 0!important;
}

.overLayPadding .overLay_background {
    /*    background: url('../singapore.jpeg');*/
    background-size: cover;
    height: auto;
    background-position: center center;
}

.overLayPadding .overLay_background .overlayColor {
    background: rgba(0, 0, 0, 0.4);
    padding: 3px;
}

.input-wrapper {
    font-size: 24px;
    color: #fff;
    margin: auto auto;
    background: rgba(0, 0, 0, 0.4);
}

.overLayPadding .overLay_background .v-p-large {
    margin: 0 auto;
}

.overLayPadding .overLay_background .v-p-large .tempDescription {
    color: #fff;
    margin: auto auto;
}

.overLayPadding .overLay_background .v-p-large .tempDescription .ion-ios-close {
    color: #fff;
    font-size: 5rem;
}

.item-ios.item-block .item-inner,
.list-md .item-block .item-inner {
    padding-right: 0;
}

.overLayPadding .overLay_background .v-p-large .tempDescription .temp-value {
    font-size: 40px;
    position: relative;
    margin: auto auto;
}

.overLayPadding .overLay_background .v-p-large .tempDescription .temp-value sup {
    font-size: 28px;
    position: absolute;
    top: 20%;
}

.overLayPadding .overLay_background .v-p-large .tempDescription .City {
    font-size: 24px;
    color: #fff;
    margin: auto auto;
}

.overLayPadding .overLay_background .v-p-large .tempDescription .Close {
    margin: auto auto;
}

.overLayPadding .overLay_background .v-p-large .tempDescription .Close .cross {
    font-size: 33px;
}

.overLayPadding1 {
    padding-top: 1%;
}

.main-app .Clear {
    background: rgba(0, 0, 0, 0.7);
}

.main-app .Mist {
    background: rgba(56, 103, 106, 0.7);
}

.main-app .Clouds {
    background: rgba(87, 17, 18, 0.7);
}

.main-app .Rain {
    background: rgba(11, 84, 146, 0.7);
}

.main-app .Haze {
    background: rgba(49, 31, 20, 0.7);
}

.main-app .Thunderstorm {
    background: rgba(56, 11, 84, 0.7);
}

.main-app .Fog {
    background: rgba(17, 48, 60, 0.7);
}

.swiper-pagination.hide {
    display: block!important;
    visibility: visible!important;
}

.swiper-pagination-fraction,
.swiper-pagination-custom,
.swiper-container-horizontal>.swiper-pagination-bullets {
    top: 20px!important;
    z-index: 9999;
}

.swiper-pagination-bullet-active {
    opacity: 1;
    background: #fff!important;
}

.LocationLable {
    margin-bottom: 28px;
}

.slider-slide{
    backface-visibility: hidden!important;
    -webkit-backface-visibility: hidden!important;
}

.item-ios,
.item-md {
    background-color: transparent!important;
}

.list-ios>.item-block:last-child,
.list-ios>.item-wrapper:last-child .item-block {
    border-bottom: 0!important;
}

.list-ios>.item-block:first-child {
    border-top: 0!important;
}