@import "styles.css";
@import "fonts.css";

/*-- background colors starts--*/
.desktop .Mist{
    background: rgba(224, 77, 83, 0.9);
    color: white;
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom: 0;
    overflow-y: scroll;
}

.desktop .Clouds{
    background: rgba(51, 84, 187, 0.9);
    color: white;
     position: absolute;
    top:0;
    left:0;
    right:0;
    bottom: 0;
    overflow-y: scroll;
}

.desktop .Rain{
    background: rgba(44, 212, 174, 0.9);
    color: black;
     position: absolute;
    top:0;
    left:0;
    right:0;
    bottom: 0;
    overflow-y: scroll;
}

.desktop .Haze{
    background: rgba(241, 191, 102, 0.9);
    color: black;
     position: absolute;
    top:0;
    left:0;
    right:0;
    bottom: 0;
    overflow-y: scroll;
}
.desktop .Thunderstorm{
     background: rgba(222, 115, 82, 0.9);
      position: absolute;
    top:0;
    left:0;
    right:0;
    bottom: 0;
    overflow-y: scroll;
}

.desktop .Fog{
    background: rgba(48, 80, 184, 0.9);
    color: white;
     position: absolute;
    top:0;
    left:0;
    right:0;
    bottom: 0;
    overflow-y: scroll;
}
/*-- background colors ends--*/             
.desktop {
    position: relative;
    font-family: 'MuseoSansRounded-light';
    overflow: hidden;
}   
.desktop .pull-up {
  position: absolute;
  top: 10%; 
}  
.desktop .v-p-large {
  margin-top:3%;
}
.desktop #DesktopChart {
    height: 120px !important;
}
.desktop .switch input {
  display: none;
}
.desktop .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  width: 57px;
  height: 26px;
}
.desktop .slider:before {
  position: absolute;
  content: "";
  height: 19px;
  width: 20px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}
.desktop input:checked + .slider {
  background-color: yellow;
}
.desktop input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}
.desktop input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
.desktop .slider.round {
  border-radius: 34px;
}
.desktop .slider.round:before {
  border-radius: 50%;
}
.desktop .tempSwitch {
  margin-left: 15%;
  font-family: 'MuseoSansRounded-light';
  font-weight: bold;
  font-size: small;
  margin-top: 2px !important;
  display: block;
}
.desktop .v-p-normal {
  margin-top: 5%;
}
.desktop .tempSwitch2 {
  margin-right: 16%;
  display: block;
  margin-top: 4%;
  font-family: 'MuseoSansRounded-light';
  font-weight: bold;
  font-size: small;
  color: inherit;
}
.desktop .font_unit {
  font-size: 20px;
  margin-left: 9%;
  font-weight: bold;
  font-family: 'MuseoSansRounded-light';
  color: inherit;
}
.desktop input:checked + #wind {
  background: rgba(0, 0, 255, .6);
}
#wind {
    right: 30% !important;
}
.desktop .cityLocation .col-3 {
    padding:0;
}
.desktop .cityLocation .navigator {
    display: inline-flex;
}
.desktop .IconAdd {
    font-size: 35px;
    color: inherit;
    cursor: pointer;
} 
.desktop .navigator .nav {    
    background: rgba(51,51,51,.8);
    color: white;
    font-size: 31px;
    padding: 7px;
    border-radius: 50%;
    font-weight: bold;
}
.desktop .v-p-small {
    margin-top: 1%;
}
.desktop .iconTower {
    margin:0 1%;
}
.desktop .addLocation {
    font-size: 50px;
}
.desktop .city-weatherDesktop {
    font-size: 27px;
    margin-top:0;
}
.desktop .temp-value {
    font-size: 80px;
    font-family: 'joey-Light';
    margin-top: -25px;
    margin-bottom: 0px;
    color: inherit;
    position: relative;
}
.desktop .weatherIconImage {
    margin-top:-20px;
    margin-right: 0 !important;
    width:25%;
}
.desktop .ion-md-arrow-back::before {
    font-family: 'Material Icons';
    content: "\E314" !important;
}
.desktop .temp-value sup {
    font-size: 37px;
    position: absolute;
    top: 30%;
    font-family: 'joey-Light';
    color: inherit;
}
.desktop .tempDegree {
    bottom: 0em;
    font-size: 37px;
}
.desktop .weatherCloud .strom {
    font-size: 7.375em;
}
.desktop .weatherDetails {
    width: 80%;
    padding: 2% 0 2% 0; 
    margin:0 auto !important;
    font-family: 'MuseoSansRounded-light';
}
.desktop .weatherDetail .firstText {
    font-size: 40px;
    color:inherit;
}
.desktop .weatherDetail .firstText .call_received {
    transform: rotate(-43deg);
    color:inherit;
}
.desktop .weatherDetail .secondText {
    font-size: 40px;
    color: inherit;
    font-family: 'joey-Light';  
}
.desktop .weatherDetail .secondText .call_receivedup{
    transform: rotate(135deg);
    color:inherit;
}
.desktop .weatherLabel {
    color: inherit;
    font-family: 'joey-Light';
    font-size: 40px;
    margin-top: -6px;
}
.desktop .weatherInfo {
    width:60%;
    margin:0 auto;
    padding: 0 15px;
}
.desktop .windClass .row {
    margin-top: 13%;
}
.desktop .windClass p {
    margin-bottom:0;
} 