@font-face {
				font-family: 'Material Icons';
				font-style: normal;
				font-weight: 400;
				src: url(fonts/MaterialIcons-Regular.eot); /* For IE6-8 */
				src: local('Material Icons'),
				    local('MaterialIcons-Regular'),
				    url(fonts/MaterialIcons-Regular.woff2) format('woff2'),
				    url(fonts/MaterialIcons-Regular.woff) format('woff'),
				    url(fonts/MaterialIcons-Regular.ttf) format('truetype');
				}
				.material-icons {
					  font-family: 'Material Icons';
					  font-weight: normal;
					  font-style: normal;
					  font-size: 24px;  /* Preferred icon size */
					  display: inline-block;
					  line-height: 1;
					  text-transform: none;
					  letter-spacing: normal;
					  word-wrap: normal;
					  white-space: nowrap;
					  direction: ltr;

					  /* Support for all WebKit browsers. */
					  -webkit-font-smoothing: antialiased;
					  /* Support for Safari and Chrome. */
					  text-rendering: optimizeLegibility;

					  /* Support for Firefox. */
					  -moz-osx-font-smoothing: grayscale;

					  /* Support for IE. */
					  font-feature-settings: 'liga';
					}
.overLayPadding {
	padding: 2% 0 2% 0;
	margin:0;
}
.overLayPadding .overLay_background {
	background: url('../assets/overlayImage2.jpg');
	background-size: 100% 100%;
	width: 100%;
	height: 5em;
	padding: 0;
	margin:0;
	background-repeat: no-repeat;
}
.overLayPadding .overLay_background .overlayColor {
	background: rgba(45, 214, 175,0.7);
	padding: 5px;
}
.overLayPadding .overLay_background .v-p-large {
	margin:5% auto;
}
.overLayPadding .overLay_background .v-p-large .tempDescription{
	font-family: 'Open Sans',sans-serif;
	color: white;
	padding: 0;
}
.overLayPadding .overLay_background .v-p-large .tempDescription .temp-value {
	font-size: 40px;
	position: relative;
}
.overLayPadding .overLay_background .v-p-large .tempDescription .temp-value sup {
	font-size: 28px;
	position: absolute;
	top:20%;
}
.overLayPadding .overLay_background .v-p-large .tempDescription .City {
	font-size: 20px;
	margin: 10% auto;
}
.overLayPadding .overLay_background .v-p-large .tempDescription .Close {
	margin: 5% auto;	
}
.overLayPadding .overLay_background .v-p-large .tempDescription .Close .cross {
	font-size: 40px;
}

/* new over lay */
.overLayPadding1 {
	padding: 0;
	margin:0;
}
.overLayPadding1 .overLay_background1 {
	background: url('../assets/overlayImage1.jpeg');
	background-size: 100% 100%;
	width: 100%;
	height: 5em;
	padding: 0;
	margin:0;
	background-repeat: no-repeat;
}
.overLayPadding1 .overLay_background1 .overlayColor1 {
	background: rgba(255, 0, 0,0.35);
	padding: 5px;
}
.overLayPadding1 .overLay_background1 .v-p-large {
	margin:5% auto;
}
.overLayPadding1 .overLay_background1 .v-p-large .tempDescription1{
	font-family: 'Open Sans',sans-serif;
	color: white;
	padding: 0;
}
.overLayPadding1 .overLay_background1 .v-p-large .tempDescription1 .temp-value {
	font-size: 40px;
	position: relative;
}
.overLayPadding1 .overLay_background1 .v-p-large .tempDescription1 .temp-value sup {
	font-size: 28px;
	position: absolute;
	top:20%;
}
.overLayPadding1 .overLay_background1 .v-p-large .tempDescription1 .City {
	font-size: 20px;
	margin: 10% auto;
}
.overLayPadding1 .overLay_background1 .v-p-large .tempDescription1 .Close {
	margin: 5% auto;	
}
.overLayPadding1 .overLay_background1 .v-p-large .tempDescription1 .Close .cross {
	font-size: 40px;
}

