    /* Custom, iPhone Retina */ 
    @media only screen and (min-width : 320px) {
        .main-app .temp-value {
						font-size: 8rem;
		}
        .main-app .bg-background .city-weather {
            margin-top: 20%;
        }
    }

    @media only screen and (min-width : 413px) {
        .main-app .temp-value {
						font-size: 10rem;
		}
        
        .main-app .bg-background .city-weather {
            margin-top: 15%;
        }
    }

    /* Extra Small Devices, Phones */ 
    @media only screen and (min-width : 480px) {
        .main-app .temp-value {
						font-size: 11rem;
		}
    }

    /* Small Devices, Tablets */
    @media only screen and (min-width : 768px) {
        .mobile-app-view {
            display: none!important;
        }
    }

    /* Medium Devices, Desktops */
    @media only screen and (min-width : 992px) {

    }

    /* Large Devices, Wide Screens */
    @media only screen and (min-width : 1200px) {

    }



    