
.SlideMenuPage {
	position: fixed;
	top: 0;
	bottom: 0;
	right:0;
	left:0;
	margin:0;
	padding: 0;
	overflow:inherit;
}
.SlideMenuPage .SlideMenuPageColor {
	position: absolute;
	top: 0;
	bottom: 0;
	right:0;
	left:0;
	background: rgba(0, 0, 0, 0.9);
	box-shadow: 1px 1px 1px 3px rgba(128, 128, 128, 0.72);
    -moz-box-shadow: 1px 1px 1px 3px rgba(128, 128, 128, 0.72);
    -webkit-box-shadow: 1px 1px 1px 3px rgba(128, 128, 128, 0.72);
    z-index: 99999;
    overflow-y: scroll;
    margin-right: 0;
}
.SlideMenuPage .LocationLable p {
	margin: 3%;
	color: white;
	font-size: 23px;
}
.SlideMenuPage .LocationLable p .settingImage {
	font-size: 28px;
}
.SlideMenuPage .smallConatiner {
}
.SlideMenuPage .smallConatiner .grid {
	padding:0;
}
.SlideMenuPage .smallConatiner .card {
	position: relative;
	color: white;
}
.SlideMenuPage .smallConatiner .card img {
	height:9em;
}
.SlideMenuPage .locationSearch {
	position: absolute;
	top: 2%;
}
.SlideMenuPage .smallConatiner .card .card-block {
	position: absolute;
	top:0;
	right:0;
	left:0;
	bottom:0;
	background: rgba(0, 0, 0,0.6);
	text-align: center;
	padding: 0;
}
.SlideMenuPage .smallConatiner .card .card-block h4 {
	margin-bottom: 0;
	margin-top: 14%;
}
.SlideMenuPage .smallConatiner .card .card-block h4 .gpsIcon {
	transform: rotate(35deg);
	-webkit-transform: rotate(35deg);
	font-size: 33px;
	margin-top: 4%;
}
.SlideMenuPage .smallConatiner .card .card-block h4 .explorer {
	font-size: 33px;
	margin-top: 6%;
	margin-left: 0;
}
#grid2 .card-block {
	background: rgba(45, 214, 175,0.9);
}
#grid3 .card-block {
	background: rgba(45, 214, 175,0.9);
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #626262;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #ea7125;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.tempSwitch {
	margin-left: 15%;
	font-weight: bold;
	margin-top: 13% !important;
	display: block;
    font-size: 1.6rem;
}
.SlideMenuPage .v-p-normal {
	padding-top: 5%;
}
.tempSwitch2 {
	margin-right: 21%;
    display: block;
    margin-top: 13%;
    font-weight: bold;
    color: white;
    font-size: 1.6rem;
}
.font_unit {
	font-size: 20px;
	margin-left: 9%;
	font-weight: bold;
	color: white;
}
input:checked + #wind {
	background: #5eb0e5;
}
.btn-link  {
	font-size: 15px;
	margin: auto;
}
.gpsIconexp {
    		margin-left: 15% !important;
    	}
@media (min-width: 567px)  {
    	.SlideMenuPage .locationSearch {
    		position: absolute;
   			top: 15% !important;
		}
		.gpsIconexp {
    		margin-left: 15% !important;
    	}
		.explorer {
    		font-size: 35px;
    		margin-top: 0;
    		margin-left: 0;
    	}

    }
@media (min-width:1024px) {
	.SlideMenuPage .smallConatiner .card .card-block h4 {
		    margin-bottom: 0;
		    margin-top: 4% !important;
		}
}
@media (min-width:1200px)  {
    	.SlideMenuPage .locationSearch {
    		position: absolute;
   			top: 0 !important;
		}
		.SlideMenuPage .smallConatiner .card .card-block h4 .gpsIcon {
    		font-size: 37px;
    		margin-top: 0;
		}
		.btn-link {
			font-size: 27px;
		}
		 .explorer {
    		font-size: 37px;
    		margin-top: 0;
    		margin-left: 0% !important;
    	}
    	.SlideMenuPage .smallConatiner .card .card-block h4 {
		    margin-bottom: 0;
		    margin-top: 4% !important;
		}
    }
