@charset "UTF-8";

@font-face {
  font-family: "xl-font";
  src:url("./fonts/xl-font.eot");
  src:url("./fonts/xl-font.eot?#iefix") format("embedded-opentype"),
    url("./fonts/xl-font.woff") format("woff"),
    url("./fonts/xl-font.ttf") format("truetype"),
    url("./fonts/xl-font.svg#xl-font") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "xl-font" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="xl-"]:before,
[class*=" xl-"]:before {
  font-family: "xl-font" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.xl-add:before {
  content: "\e000";
}
.xl-close:before {
  content: "\e001";
}
.xl-cloud:before {
  content: "\e002";
}
.xl-cloudy:before {
  content: "\e003";
}
.xl-cog:before {
  content: "\e004";
}
.xl-loc:before {
  content: "\e005";
}
.xl-loc-f:before {
  content: "\e006";
}
.xl-menu:before {
  content: "\e007";
}
.xl-moon-1:before {
  content: "\e008";
}
.xl-moon-2:before {
  content: "\e009";
}
.xl-rain-1:before {
  content: "\e00a";
}
.xl-rain-2:before {
  content: "\e00b";
}
.xl-rain-3:before {
  content: "\e00c";
}
.xl-rain-4:before {
  content: "\e00d";
}
.xl-snowing-1:before {
  content: "\e00e";
}
.xl-snowing-2:before {
  content: "\e00f";
}
.xl-snowing-3:before {
  content: "\e010";
}
.xl-snowing-4:before {
  content: "\e011";
}
.xl-storm-1:before {
  content: "\e012";
}
.xl-storm-2:before {
  content: "\e013";
}
.xl-storm-3:before {
  content: "\e014";
}
.xl-sun:before {
  content: "\e015";
}
.xl-sunrise-1:before {
  content: "\e016";
}
.xl-sunrise-2:before {
  content: "\e017";
}
.xl-sunset:before {
  content: "\e018";
}
.xl-umbrella:before {
  content: "\e019";
}
.xl-wind-1:before {
  content: "\e01a";
}
.xl-wind-2:before {
  content: "\e01b";
}
.xl-wind-3:before {
  content: "\e01c";
}
.xl-wind-4:before {
  content: "\e01d";
}
.xl-wind-5:before {
  content: "\e01e";
}
.xl-wind-6:before {
  content: "\e01f";
}


.ux-homepage-banner .scroll-content{
  overflow-y: hidden!important;
}