<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Locations</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="bg-add-locations">
  <ion-list>
      <ion-item *ngFor="let item of items" (click)="selectLocation(item)" >
          <div class="container-fluid overLayPadding">
		<div class="row overLay_background">
			<div class="col-12 overlayColor">
				<div class="row v-p-large">
					<div class="col-10 tempDescription">
						<p class="City">{{item}}</p>
					</div>
					<div class="col-2 tempDescription">
						 <ion-icon ios="ios-close" md="md-close" item-right (click)="deleteItem(item)"></ion-icon>
					</div>
				</div>
			</div>
		</div>
	</div>
          
      </ion-item>
  </ion-list>
    
    

</ion-content>
