<ion-menu persistent="true" [content]="content" (ionOpen)="menuOpened()">
    <ion-content>
        <div class="container SlideMenuPage">
            <div class="row SlideMenuPageColor">

                <div class="col-12 locationSearch">
                    <div class="LocationLable">
                        <p class="text-left">Location<i class="material-icons float-right settingImage">settings</i></p>
                    </div>
                    <div class="row smallConatiner">
                        <div class="col-6 grid">
                            <div class="card" (click)="onMenuItemClick('home')">
                                <img class="card-img-top d-block img-fluid" src="assets/sidemenu-img-small-location.jpg" alt="Card image cap">
                                <div class="card-block">
                                    <h4 class="card-title"><i class="material-icons gpsIcon">navigation</i></h4>
                                    <p class="text-center"><a class="btn-link">Current location</a></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 grid">
                            <div class="card" (click)="onMenuItemClick('savedLocations')">
                                <img class="card-img-top img-fluid d-block" src="assets/sidemenu-img-small-others.jpg" alt="Card image cap">
                                <div class="card-block">
                                    <h4 class="card-title"><i class="material-icons explorer">brightness_low</i></h4>
                                    <a class="btn-link">Others</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 grid">
                            <div class="card" (click)="onMenuItemClick('london')">
                                <img class="card-img-top d-block img-fluid" src="assets/sidemenu-img-small-london.jpg" alt="Card image cap">
                                <div class="card-block">
                                    <h4 class="card-title">&nbsp;</h4>
                                    <p class="text-center"><a class="btn-link">LONDON</a></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 grid">
                            <div class="card" (click)="onMenuItemClick('colombo')">
                                <img class="card-img-top img-fluid d-block" src="assets/sidemenu-img-small-colombo.jpg" alt="Card image cap">
                                <div class="card-block">
                                    <h4 class="card-title">&nbsp;</h4>
                                     <p class="text-center"><a class="btn-link">COLOMBO</a></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 v-p-normal">
                            <div class="row">
                                <div class="col-6"><span class="font_unit">Unit</span></div>
                                <div class="col-6">
                                    <label class="switch float-right">
                    <input type="checkbox" id="unitCheckbox" (change)="unitChanged($event)">
                    <div class="slider round"><span class="tempSwitch float-left">F</span><span class="tempSwitch2 float-right">C</span></div>
                  </label>
                                </div>
                            </div>
                            <div class="row v-p-normal">
                                <div class="col-6"><span class="font_unit">Wind</span></div>
                                <div class="col-6">
                                    <label class="switch float-right">
                    <input type="checkbox" id="windCheckbox">
                    <div class="slider round" id="wind"><span class="tempSwitch float-left">K</span><span class="tempSwitch2 float-right">M</span></div>
                  </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>