<!--
  Generated template for the Search page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <ion-title>Search</ion-title>
    </ion-navbar>

</ion-header>


<ion-content class="bg-add-locations">
    <ion-searchbar [(ngModel)]="searchTerm" [formControl]="searchControl" (ionInput)="onSearchInput()"></ion-searchbar>
        <div *ngIf="searching" class="spinner-container">
            <ion-spinner></ion-spinner>
        </div>
        <ion-list>
            <ion-item *ngFor="let item of items" (click)="ItemSelected(item.title)">
                {{item.title}}
            </ion-item>
        </ion-list>
</ion-content>