.ux-homepage-banner {
  position: absolute!important;
  z-index: 12;
}

.ux-homepage-banner .banner-background {
  position: fixed;
  background: rgba(90, 90, 90, .6);
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  color: white;
  z-index: 11;
  padding-top:20%;
}

.banner-content {
  margin: 0 auto !important;
}

.AddImage {
  padding-right: 15px;
  padding-left: 15px;
}

.BannerImage {
  margin-top: 7%;
}

.crossFont {
  padding-right: 0;
}
.crossFont i {
  font-size: 63px;
  opacity: .8;
  cursor:pointer;
  z-index: 99;
}

.visible {
  display: block;
}

.hidden {
  display: none;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {
  .BannerImage {
    margin-top: 10%;
  }

  .crossFont {
    padding-right: 0;
    padding-top:9%;
  }

  .AddImage {
    margin: 40% auto;
  }
}
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) { 
    .crossFont {
      padding-right: 0;
      padding-top:5%;
    }
    .AddImage {
      margin: 10% auto;
    }
}
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) { 
    .AddImage {
      margin: 50% auto;
    }
    .crossFont {
      padding-right: 0;
      padding-top:15%;
    }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  .AddImage {
    margin: 12% auto;
  }
}
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
  .BannerImage {
    width: 100%;
  }
  .crossFont {
    margin-top: 5%;
    z-index: 99;
  }
  .AddImage {
    margin: 10% auto;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
  .BannerImage {
    margin-top: 12%;
  }

  .crossFont {
    padding-right: 10%;
    margin-top: 5%;
  }

  .AddImage {
    margin: 31% auto;
  }
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) and (max-device-width: 667px) and (min-device-width: 320px) and (orientation: portrait)
{
  .crossFont {
    padding-right: 4%;
    padding-top: 24%;
}
}