<!--
  Generated template for the Search page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-content class="container ux-homepage-banner {{DisplayClass}}" on-tap="closeBanner()">
<ion-card>
	<div class=" row banner-content-container">
		<div class="col-12 text-center ">
			<div class="banner-background"  (click)="closeBanner()">
				<span class="float-right crossFont"><i class="material-icons">close</i></span>
			<div class="AddImage">	
				<a href="http://www.google.com"><img class="col-12 col-lg-4 d-block img-fluid mx-auto BannerImage" src="assets/AddBanner.png" ion-stop-event="click"/></a>
			</div>
			</div>
		</div>
	</div>
</ion-card>
</ion-content>